
.wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 15px;  
  border-bottom: 1px dashed var(--yellow-theme-main-color);
  background-color: rgb(51, 51, 63);
  position: absolute;  
  top: 80px;     
  left: 0;
  right: 0;
  z-index: 2;    

  h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1rem;
    text-transform: capitalize;
    color: var(--yellow-theme-main-color);
    margin-left: 0; 
  }

  span {
    margin-right: 0;  
    svg {
      color: var(--yellow-theme-main-color);
    }
  }
}
