.home {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__text-wrapper {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;

    h1 {
        padding: 100px;
      font-size: 7rem;
      font-weight: 500;
      line-height: 10rem;
      color: var(--yellow-theme-main-color);
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: typingEffectAnimation 3.5s steps(30, end) forwards;
    }
  }

  &__contact-me {
    display: flex;
    justify-content: center;
    margin-bottom:200px;

    button {
      cursor: pointer;
      padding: 10px 65px;
      font-size: 2rem;
      background: transparent;
      color: var(--yellow-theme-main-color);
      border: 1.5px solid var(--yellow-theme-main-color);
      border-radius: 4px;
      font-weight: 500;

      &:hover {
        background: var(--yellow-theme-main-color);
        color: rgb(10, 4, 51);
      }
    }
  }
}

@keyframes typingEffectAnimation {
  from { width: 0; }
  to { width: 100%; }
}

@media screen and (max-width: 550px) {
  .home__text-wrapper h1 {
    padding: 100px 20px;
    font-size: 3rem;
    line-height: 6rem;
  }

  .home__contact-me button {
    padding: 8px 35px;
    font-size: 1.4rem;
  }
}
