.home {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);



    &__text-wrapper {

        display: flex;
        flex-direction: column;

        h1 {
            font-size: 7rem;
            font-weight: 500;
            line-height: 10rem;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
            animation: typingEffectAnimation 3.5s steps(30, end) forwards;

        }
    }

    &__contact-me {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        button {
            cursor: pointer;
            padding: 10px 65px;
            font-size: 2rem;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;

            &:hover {
                background: var(--yellow-theme-main-color);
                color: rgb(10, 4, 51);

            }
        }
    }
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media screen and (min-width : 320px) and (max-width : 550px) {
    .home__text-wrapper h1 {
        font-size: 3rem;
        line-height: 6rem;
        font-weight: 500;
    }

    .home__contact-me button {
        padding: 8px 35px;
        font-size: 1.4rem;
        font-weight: 300;
    }

}