
.navbar {
  background-color: #00FFFF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-size: 1.2rem;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;
    justify-content: space-between;

    &__logo {
      display: flex;
      align-items: center;
      gap: 10px; 
      color: black;
      cursor: pointer;
      text-decoration: none;

      .navbar__logo-text {
        font-size: 2.3rem;
           font-family: 'Poppins', 'Roboto', sans-serif;
        font-weight: bold;
        color: black !important;
        text-decoration: none;
        
      }
   
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;

      &__item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;


        &::after {
          content: '';
          display: block;
          height: 3px;
          width: 0%;
          background: transparent;
          transition: width 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background: black;
        }

        &__links {
          color: black;
          text-decoration: none;
          padding: 0.5rem;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
     z-index: 9999;

    &.active {
      background-color: #b0ffff;
      left: 0;
      opacity: 1;
    }
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: black;
    padding-right: 20px;
    z-index: 10000;
  }

  .navbar__container__logo {
    .navbar__logo-text {
      font-size: 1.4rem; 
    }
  }
}
