@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --yellow-theme-background-color : #52524d;
  --yellow-theme-main-color : #6abfc2;
  --yellow-theme-text-color : #fffffb;
  --yellow-theme-nav-background-color : #2f2f3f;
}
 
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  
  background-color: var(--yellow-theme-background-color);
  height: 100%;
}
#root {
  height: 100%;
  
} ;
 